@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap");

$mainFont: "Montserrat";

h1 {
  padding: 2rem;
}

.no__movies {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $mainFont;
  font-size: 2rem;
  font-weight: 100;
  &__dark {
    color: #fff;
  }
  &__light {
    color: #3656ff;
  }
}
